<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/client.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
  <title>WIP - White-collar Improvement Program</title>
</head>
<body>
  <header>
    <div class="logo">

    </div>
    <div class="title">
      <h1>WIP - White-collar Improvement Program</h1>
      <h3>ホワイトカラー・カイゼン・プログラム</h3>
    </div>
    <div class="menu_box">
      <nav class="navigation">
        <ol class="menu_items">
          <li class="menu_item">トレーニング</li>
          <li class="menu_item">ユーザー</li>
          <li class="menu_item"><a href="./app/pages/score.php">評価レコード</a></li>
          <li class="menu_item">システム設定</li>
        </ol>
      </nav>

    </div>

  </header>


  <footer>

  </footer>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
</body>
</html>